h1{
  color: #0000ff;
  font-size: 36px;
  text-align: center;
}

h2{
  color: #00ff00;
  font-size: 28px;
  text-align: left;
  font-style: italic;
  text-decoration: underline;
}

p{
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 1.6;
  text-indent: 40px;
  letter-spacing: 1.2px;
  word-spacing: 2.4px;
}

ul{
  color: rgb(116, 67, 21);
  font-size: 16px;
  text-transform: uppercase;
}

a{
  color: rgb(131, 7, 131);
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-shadow: 2px 2px 3px rgb(82, 82, 82);
}

a:visited{
  color: gray;
}

a:hover{
  color: red;
}